allow init cid_block_device:blk_file create_file_perms;
allow init hob_block_device:blk_file create_file_perms;
allow init utags_block_device:blk_file create_file_perms;

allow init fuse:dir { relabelfrom read setattr };
allow init fuse:file { relabelfrom getattr };
